.container-header {
  background: #3a61c6;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;

}

.i-hp {
  color: white;
}

.email-p {
  margin-left: 100px;
}

.i-header {
  color: white;
}



.dropdown {
  color: black;
}

.cart {
  font-size: 20px;

}

.login {
  font-size: 20px;

}

.sale {
  font-size: 20px;
}

.fbs-logo {
  width: 135px;


}

.img-carousel {
  /*margin-left: 50px;*/

  object-fit: cover;


}

.img:hover {
  transform: scale(1.01)
}

.logout {
  color: #fff;
}





/*############################## footer###################################*/
.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social>a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.btn:hover {
  transform: scale(1.02);
}

.nav {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  /*box-shadow: 0px 1px 4px 1px rgba(199, 199, 199, 1)*/
}

.navbare {


  box-shadow: 0px 1px 4px 1px rgba(199, 199, 199, 1);





}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;

}

.container-index {
  margin-top: 150px;
}



.form {
  margin-right: 50px;

}

.btn-seach {

  border-radius: 5px;

}

.input-seach {
  margin-left: 100px;
  width: 100%;
}

.input-seach {
  outline: none;
}

/*########################FBS-----###########################*/

.rating span {
  margin: 0.1rem;
}

main {
  min-height: 80vh;

}

h3 {
  padding: 1rem 0;
}

.gotop-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff9801;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  bottom: 40px;
  right: 50px;
  padding: 8px;
}

.gotop-btn i {
  color: white !important;
  transition: all .3s;
}

.gotop-btn:hover {
  background-color: #0097fe !important;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem;
}

h3 {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.delete {
  color: #8a307f;

}

.panierTop {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 13px;
  background-color: #ff9801;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #ff9801;
  padding: 2px;

}